@using Microsoft.AspNetCore.Authorization
@model IEnumerable<WeatherForecast>
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Weather Forecasts";
}

<h1>Weather Forecasts</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "CanCreateAndModifyData")).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
        <th>@Html.DisplayNameFor(model => model.TemperatureC)</th>
        <th>@Html.DisplayNameFor(model => model.TemperatureF)</th>
        <th>@Html.DisplayNameFor(model => model.Summary)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.Date)
            </td>
            <td>
                @Html.DisplayFor(_ => item.TemperatureC)
            </td>
            <td>
                @Html.DisplayFor(_ => item.TemperatureF)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Summary)
            </td>
            @if ((await AuthorizationService.AuthorizeAsync(User, "CanCreateAndModifyData")).Succeeded)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new {}) |
                    @Html.ActionLink("Details", "Details", new {}) |
                    @Html.ActionLink("Delete", "Delete", new {})
                </td>
            }
        </tr>
    }
    </tbody>
</table>